---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sobre" description="Sobre o autor do blog." path="/sobre">
  <h1>Sobre</h1>
  <p>TODO: bio do autor.</p>
</BaseLayout>
